<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="about-details section-padding30">
    <div class="container">
        <h1>About us</h1>
        <div class="row">
            <div class="offset-xl-1 col-lg-12">
                <div class="about-details-cap mb-50">
                    <h4>Our Mission</h4>
                    <p>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
                    </p>
                    <p> Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>Our Vision</h4>
                    <p>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
                    </p>
                    <p> Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- set background img in css -->
                </div>
            </div>
        </div>
    </div>
    <section class="agent">
        <h2>Our Team</h2>
        <div class="agent__content">
            <div class="agent__info">
                <img src="../images/Hau.jpg" alt="">
                <div class="agent__text">
                    <h4>TẤN HẬU</h4>
                    <p>Leader</p>
                </div>
            </div>
            <div class="agent__info">
                <img src="../images/Huy.jpg" alt="">
                <div class="agent__text">
                    <h4>ĐỨC HUY</h4>
                    <p>Sub Leader</p>
                </div>
            </div>
            <div class="agent__info">
                <img src="../images/Trang.jpg" alt="">
                <div class="agent__text">
                    <h4>THU TRANG</h4>
                    <p>Member</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>