<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<main>
    <div class="slider-area">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Cart List</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="cart_area section_padding">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="../images/p-1.png" alt="" />
                      </div>
                      <div class="media-body">
                        <p>Rolex watch</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>$45,743</h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <span class="input-number-decrement">-</span>
                      <input class="input-number" type="text" value="1" min="0" max="10">
                      <span class="input-number-increment">+</span>
                    </div>
                  </td>
                  <td>
                    <h5>$45,743</h5>
                  </td>
                </tr>
                <tr class="bottom_button">
                  <td>
                    <a class="btn btn-primary" href="#">Update Cart</a>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>Subtotal</h5>
                  </td>
                  <td>
                    <h5>$45,743</h5>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="checkout_btn_inner float-right">
              <a class="btn btn-primary" href="./shop.html">Continue Shopping</a>
              <a class="btn_1" href="./checkout.html">CHECKOUT</a>
            </div>
          </div>
        </div>
    </section>
</main>
</body>