<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <ul class="row content-home">
               <li class="col-4">
                  <a href="#" class="item-link" title="">
                    <div class="bannerBox">
                       <img src="../images/rolex-brand.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                       <div class="item-html">
                          <h3>Rolex<span>Brand</span></h3>
                          <p>The reference among diver's watches</p>
                          <button>Shop now!</button>
                       </div>
                    </div>
                  </a>
               </li>
               <li class="col-4">
                  <a href="single.html" class="item-link" title="">
                    <div class="bannerBox">
                       <img src="../images/man.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                       <div class="item-html">
                          <h3>Men<span>Watches</span></h3>
                          <p>The ultimate watch of prestige</p>
                          <button>Shop now!</button>
                       </div>
                    </div>
                  </a>
               </li>
               <li class="col-4">
                  <a href="single.html" class="item-link" title="">
                    <div class="bannerBox">
                       <img src="../images/ladies.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                       <div class="item-html">
                          <h3>Ladies<span>Watches</span></h3>
                          <p>The pearl in the Oyster collection</p>
                          <button>Shop now!</button>
                       </div>
                    </div>
                  </a>
               </li> 
               <div class="clearfix"> </div>         
           </ul>
        </div>
        <div class="middle_content">
            <div class="container">
                <h2>Welcome</h2>
                <h3>ROLEX WATCHES ARE CRAFTED WITH SCRUPULOUS ATTENTION TO DETAIL</h3>
                <p>Explore the Rolex collection of prestigious, high-precision timepieces. Rolex offers a wide assortment of Oyster Perpetual and Cellini watches to suit any wrist. Discover the broad selection of Rolex watches to find a perfect combination of style and functionality.</p>
                <p>We call this perpetual spirit. It is based on a fundamental belief in unlimited human potential, in continuous improvement and lasting excellence, in always pushing the boundaries and taking the long-term view. Our watches are built to last. So is our contribution to future generations. Discover more about our corporate commitments on Rolex.org</p>
            </div>
        </div>
        <div class="gallery-area">
                <div class="row">
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-gallery mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../images/gallery1.jpg)"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-gallery mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../images/gallery2.jpg)"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <div class="row">
                            <div style="margin-bottom: 30px;" class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
                                <div class="single-gallery mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(../images/gallery3.jpg)"></div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12  col-md-6 col-sm-6">
                                <div class="single-gallery mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(../images/gallery4.jpg)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</body>