<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    <div class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-9 prdt-left">
                <div class="row product-one">
                    <div class="col-md-4 product-left p-left">
                        <div class="product-main">
                            <a href="#" class="mask"><img class="img-responsive zoom-img" src="https://uc0179a591ec62a0cf410773c090.dl.dropboxusercontent.com/cd/0/inline/BORA6k-iALnRchF5DPinDbs6u6u6W2IBqfl0sV-cEpw-KdrbsZ1iq4GU7HKbFaCf0x9UBrxoftSDFF0LHIOCKV_47TzvoZGI5XNIXg68sVma9jFc1MfPNhOa6SZlcG6gJuBtpH3X3kY3D4U0t6x_VL-T/file#" alt="" /></a>
                            <div class="product-bottom">
                                <h3>Smart Watches</h3>
                                <p>Explore Now</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 206980000</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-left p-left">
                        <div class="product-main">
                            <a href="#" class="mask"><img class="img-responsive zoom-img" src="../images/p-1.png" alt="" /></a>
                            <div class="product-bottom">
                                <h3>Smart Watches</h3>
                                <p>Explore Now</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-left p-left">
                        <div class="product-main">
                            <a href="#" class="mask"><img class="img-responsive zoom-img" src="../images/p-1.png" alt="" /></a>
                            <div class="product-bottom">
                                <h3>Smart Watches</h3>
                                <p>Explore Now</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-left p-left">
                        <div class="product-main">
                            <a href="#" class="mask"><img class="img-responsive zoom-img" src="../images/p-1.png" alt="" /></a>
                            <div class="product-bottom">
                                <h3>Smart Watches</h3>
                                <p>Explore Now</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-left p-left">
                        <div class="product-main">
                            <a href="#" class="mask"><img class="img-responsive zoom-img" src="../images/p-1.png" alt="" /></a>
                            <div class="product-bottom">
                                <h3>Smart Watches</h3>
                                <p>Explore Now</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 product-left p-left">
                        <div class="product-main">
                            <a href="#" class="mask"><img class="img-responsive zoom-img" src="../images/p-1.png" alt="" /></a>
                            <div class="product-bottom">
                                <h3>Smart Watches</h3>
                                <p>Explore Now</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>	
            <div class="col-md-3 prdt-right">
                <div class="w_sidebar">
                    <section  class="sky-form">
                        <h4>Catogories</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-12">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>All</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Men</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Women</label>
                            </div>
                        </div>
                    </section>
                    <section  class="sky-form">
                        <h4>Brand</h4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-12">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Submarine</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>DayDate</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>SeaDweller</label>	
                            </div>
                        </div>
                    </section>
                    <section  class="sky-form">
                        <h4>Material</h4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-12">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>White gold & diamonds</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>White gold & diamonds</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>White gold & diamonds</label>	
                            </div>
                        </div>
                    </section>
                    <section  class="sky-form">
                        <h4>Size</h4>
                        <div class="row1 row2 scroll-pane">
                            <div class="col col-12">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>35mm</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>31mm</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>32mm</label>	
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>32mm</label>	
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>32mm</label>	
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>32mm</label>	
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>32mm</label>	

                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>